<nav class="navbar">
    <div class="logo" routerLink="/home"><img src="assets/images/logo.jpg" alt=""></div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/about">About</a></li>
      
      <li class="search-bar">
        <input type="text" placeholder="Search..." />
        <button title="search-bar" class="search-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
      </li>
      <li><button id="login-btn" routerLink="/login" type="button">Login</button></li>
    </ul>
  </nav>
  