<div class="about-page">
    <div class="profile">
      <img class="profile-img" src="assets/images/me1.png" alt="Profile Image">
      <div class="profile-info">
        <h1>Mahesh</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed cupiditate perspiciatis illum harum praesentium alias vel expedita aspernatur possimus, sequi voluptatibus reiciendis, veniam laboriosam libero molestias quos dicta repudiandae aliquam.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur quas voluptatum accusamus eligendi quia quo animi voluptate magni fugiat, quam possimus tenetur tempore quisquam saepe dignissimos facilis ad sequi? Minus!
        </p>
      </div>
    </div>
  </div>
  