.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
   width: 60%;
    margin: 200px 100px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info {
    flex-grow: 1; /* Takes remaining space */
  }
  
  .profile-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 16px;
    line-height: 1.5;
  }
  