
  




    <div class="main">
    <img src="assets/images/img22.webp"  width="100%" height="100%"  alt="">
    <div class="videos">
      <iframe width="700" height="340" src="https://www.youtube.com/embed/GP6DRJwGjcE?si=47F3uagXFnXlWLbG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="book">
        <button>book your ticket</button>
    </div>
    </div>
