
.main{
    margin-top: 70px;
    position: relative;
}
.videos{
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50% , -50%);
    
}

button{
background-color:rgb(251, 60, 92);
color: wheat;

border-radius: 5px;
padding:10px;
border: none;
}
button:hover{
    background-color:rgb(201, 23, 53);

    color: white;

/* transition: .5s; */
cursor: pointer;
}
.book{
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%,-50%);
}