.movie-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 cards in each row */
    grid-auto-rows: minmax(380px, auto); /* Adjust height as needed */
    gap: 30px; /* Gap between cards */
    margin: 0 50px; /*  Add margin to the left and right */
  }
    
    .card {
      position: relative;
      overflow: hidden;
      margin-bottom: 30px;
      border-radius: 10px;
    }
    
    
    .card img {
      width: 100%;
      height: 100%; /* Use 100% height to fit within the grid cell */
      object-fit: cover; /* Maintain aspect ratio and fill the container */
    
      transition: transform 0.3s ease;
      
    }
    
    .card:hover img {
      transform: scale(1.1); /* Increase size on hover */
    }
    
    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 8px;
      text-align: center;
      transition: opacity 0.3s ease;
      opacity: 0;
    }
    
    .card:hover .overlay {
      opacity: 1; /* Show overlay on hover */
    }
    